
.reviews {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 819px;
    width: 100%;
    padding: 37px 29px 33px 31px;
}

.title {
    margin: 0;
    font-size: 29px;
    line-height: 34.8px;
    letter-spacing: 1px;
    text-align: left;
}